<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="/"><i class="glyphicon glyphicon-home"></i> Home</a>
        <a href="/halloffame"><i class="glyphicon glyphicon-film"></i> Hall of Fame</a>
        {{#if username}}
        {{!-- <a href="/watchlist"><i class="glyphicon glyphicon-bookmark"></i> Watchlist</a> --}}
        <a href="/profile"><i class="glyphicon glyphicon-user"></i> Profile</a>
        {{#ifEquals role "admin"}}
        <a href="/admin"><i class="glyphicon glyphicon-cog"></i> Manage Movies</a>
        {{/ifEquals}}
        <a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
        {{else}}
        <a href="/login"><i class="glyphicon glyphicon-log-in"></i> Login</a>
        <a href="/signup"><i class="glyphicon glyphicon-plus-sign"></i> Sign Up</a>
        {{/if}}       
    </div>

    <main>
        {{{body}}}
    </main>

    <footer>
        FlickFinder | 2022
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>

</html>