<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
     <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/signup">Sign Up</a>
                </li>
            </ul>
        </nav>
    <main>
        {{{body}}}
    </main>

    <footer>
        FlickFinder | 2022
    </footer>
    
</body>

</html>