<main>
  <h1>Flick Finder</h1>

  <p>This application is the one-stop shop for anything related to Movies! You
    can search for any movie, actor, director, etc. and get the information you
    are looking for.</p>
  <br />

  <form action="/search" method="POST" class="new-search-form">
    Search Movies

    <select id="movieInfo" name="options" placeholder="Choose from selection">
      {{#each option}}
        <option>{{this}}</option>
      {{/each}}
    </select>

    <label>
      <input
        type="text"
        name="searchTerm"
        placeholder="Enter Movie Name"
        value="{{movies.searchTerm}}"
      />
    </label>

    <br />
    <br />

    <button type="submit" class="btn btn-info">
      <i class="glyphicon glyphicon-search"></i> Search
    </button>
  </form>
</main>