<form id="add_movie" method="POST">
    <label for="movie_name">Movie Name:</label>
    <input type="text" name="movie_name" id="movie_name" required/>
    <label for="summary">Summary:</label>
    <input type="text" name="summary" id="summary" required/>
    <label for="genres">Genres:</label>
    <input type="text" name="genres" id="genres" required/>
    <label for="duration">Duration:</label>
    <input type="text" name="duration" id="duration" required/>
    <label for="poster">Poster:</label>
    <input type="text" name="poster" id="poster" required/>
    <label for="release_date">Release Date:</label>
    <input type="text" name="release_date" id="release_date" required/>
    <label for="cast">Cast:</label>
    <input type="text" name="cast" id="cast" required/>
    <label for="director">Director:</label>
    <input type="text" name="director" id="director" required/>
    <input type="submit" value="Submit">    
</form>