<h1>ADMIN PAGE</h1>
<h2>Administrator: {{username}}</h2>
<br>
<form id="admin-form" method="POST" action="/admin">
    <input type="radio" id="add_movie" name="admin_radio" value="add">
    <label for="add_movie">Add Movie</label>
    <input type="radio" id="edit_movie" name="admin_radio" value="edit">
    <label for="edit_movie">Edit Movie</label>
    <input type="radio" id="delete_movie" name="admin_radio" value="delete">
    <label for="delete_movie">Delete Movie</label>
    <input type="submit" value="Submit">
</form>